.at_imgText1 {
  background-image: url(../../assets/houserbg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 600px;
  width: 100%;
  height: 75%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 8em;
  flex-wrap: nowrap;
  justify-content: space-between;

  .at_imgText1_humanplusbtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
    padding-left: 111px;

    .at_imgText1Buttonandtext {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;

      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        line-height: 36px;
        color: #062A78;
      }

      button {
        background: #5E1C57;
        box-shadow: 4px 2px 5px rgba(85, 85, 85, 0.25);
        border-radius: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        width: 340px;
        height: 82px;
        color: #FFFFFF;
      }
    }

    .at_imgText1humanimg {
      padding-top: 200px;
    }
  }

  .at_imgText1_carasimg {
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;

    img {
      align-self: end;
    }
  }
}

.at_imgText2 {
  background-image: url(../../assets/bgimgofsec2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #8E5002;


  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }
  .at_imgText2_sec1{
    margin-top: -8em;
    width: 528px;
    height: 189.46px;
    margin-left: 2em;
  }
  .at_imgText2_sec2{
margin-top: 50px;
width: 608px;
height: 189.46px;
align-self: flex-end;
  }
}
.at_imgText3{
  align-self: center;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  .at_imgText3_1{
    margin-left: 2em;
    section{
      h1{
        font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 45px;
width: 608px;
color: #78066D;
      }
      p{
        font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #000000;
      }
    }
  }
}
.at_imgText3_2{
  section{
    h1{
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 45px;
color: #78066D;
    }
    p{
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

width: 20em;
color: #000000;
    }
  }
  img{
    align-self: flex-end;
  }
}
