<!-- link http://localhost:4200/carh -->
<div class="at_imgText1">
<div class="at_imgText1_humanplusbtn">
<div class="at_imgText1Buttonandtext">
  <p>Welcome,<br>
    Rent or Buy the car you<br> need at your price<br>
  </p>
  <button>Become a Member</button>
</div>
<div class="at_imgText1humanimg">
<img src="../../assets/humanimg.svg" width="119px" height="279px" alt="humanlogo">
</div>
</div>
<div class="at_imgText1_carasimg">
<img src="../../assets/carimg.svg" width="100%" height="400px" alt="car">

</div>


</div>
<div  class="at_imgText2"></div>
<div  class="at_imgText3"></div>

