@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Bangers";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.fstnav,
mat-toolbar {
  background: #004D95;
  width: 100%;
}

mat-toolbar {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
  }

  .userdatatbl {
    width: 50em;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  table {

    .tablehead {
      border-bottom: 2px solid #FFFFFF;
    }

    th {
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #99999B;
    }



    td {
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
    }
  }
}

.at_cmp_logo {
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 57px;
  color: #000000;
}

.at_userId {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #99999B;
}

.at_usercls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;

  .at_userName {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    align-self: center;
  }
}

.dropdown {
  display: flex;
  flex-direction: row-reverse;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 190px;
  justify-content: center;
  align-self: flex-start;
  height: 126px;
  z-index: 1;
  margin-right: 0;
  margin-top: 3em;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-direction: column;

  ul {
    vertical-align: middle;
    list-style-type: none;

    li {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 10px;
      cursor: pointer;


    }
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.at_nav_welcome_txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF !important;
}

.at_dash_table {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;

  .table_head {
    border-bottom: solid 1px white;
  }
}

.at_dashDetails {
  display: flex;
  flex-direction: row;
  height: 100%;

  .at_nav_displayKeys {
    background: #E2ECFF;
    height: 100%;
    width: 17em;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    background: #5991C6;
    border-radius: 6px;
  }

  a {
    
    text-decoration: none;
   h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px !important;
    line-height: 33px;
    color: #000000;
   }
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    border-bottom: 1px solid #CDCDCD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
