<nav class="navbar navbar-light ">
  <span class="navbar-brand mb-0 h1 at_cmp_logo">m2y</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <span class="nav-link at_userId">Id: 12345678</span>
    </li>
    <li class="nav-item">
      <ul class="at_usercls">
        <li class="at_userName">
          John Doe
        </li>
        <li class="dropdown">
          <img src="../../assets/userlogo.svg" alt="">
          <div class="dropdown-content">
            <ul>
            <li >Account</li>
            <li>Logout</li>
            </ul>
             </div>
        </li>
      </ul>
    </li>

  </ul>
</nav>
<nav class="navbar navbar-light ">
  <span class="navbar-brand at_nav_welcome_txt">Welcome, <br> Jhon</span>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <!-- <table class="at_dash_table">
    <tr class="table_head">
      <th>
        Total Earnings
      </th>
      <th>
        Total Trips
      </th>
      <th>
        Rating
      </th>
      <th>
        Total Vehicles
      </th>
    </tr>
    <tr>
      <td>
        4
      </td>
      <td>
        33
      </td>
      <td>
        2222
      </td>
      <td>
        2322
      </td>
    </tr>
  </table> -->
</nav>
