<nav class="navbar navbar-light ">
  <span class="navbar-brand mb-0 h1">m2y</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <span class="nav-link at_userId">Id: 12345678</span>
    </li>
    <li class="nav-item">
      <ul class="at_usercls">
        <li class="at_userName">
          John Doe
        </li>
        <li class="dropdown">
          <img src="../../assets/userlogo.svg" alt="">
          <div class="dropdown-content">
            <ul>
            <li >Account</li>
            <li>Logout</li>
            </ul>
             </div>
        </li>
      </ul>
    </li>

  </ul>
</nav>
