<mat-toolbar  class="at_Footer">
  <div class="at_Col1Content">
    <span>
      Contact US
    </span>
    <p style="color: rgba(40, 133, 60, 0.8);">
      GMart Groceries Private Litmited<br />
      Toronto, ON Canada<br />
      M2J1L4
    </p>
  </div>
  <div class="at_Col2Content">
    <ul>
      <li>
        <a href="#">
          <img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          25 Parkway Forest, North York</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          +1-(999)-888-9999</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          service@gmart.com</a
        >
      </li>
    </ul>
  </div>
  <div class="at_Col3Content">
    <ul>
      <li>
        <a href="https://facebook.com/" target="blank"
          ><img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          facebook.com</a
        >
      </li>
      <li>
        <a href="https://twitter.com/" target="blank"
          ><img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          twitter.com</a
        >
      </li>
      <li>
        <a href="https://www.pinterest.com/" target="blank"
          ><img
            width="15px"
            height="15px"
            src="../assets/facebook.png"
            alt="fblogo"
          />
          pinttrest.com</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
