<mat-toolbar class="at_Footer">
  <div class="at_Col1Content">
    <span>
      Contact US
    </span>
    <p style="color: rgba(40, 133, 60, 0.8);">
      GMart Groceries Private Litmited<br />
      Toronto, ON Canada<br />
      M2J1L4
    </p>
  </div>
  <div class="at_Col2Content">
    <ul>
      <li>
        <a href="#">
          <fa-icon
            style="color: rgba(40, 133, 60, 0.8);;"
            [icon]="faMapMarkerAlt"
          ></fa-icon>
          25 Parkway Forest, North York</a
        >
      </li>
      <li>
        <a href="tel:+14123815500"
          ><fa-icon
            style="color: rgba(40, 133, 60, 0.8);;"
            [icon]="faPhone"
          ></fa-icon>
          +1-(999)-888-9999</a
        >
      </li>
      <li>
        <a href="mailto:service@gmart.com"
          ><fa-icon
            style="color: rgba(40, 133, 60, 0.8);;"
            [icon]="faEnvelope"
          ></fa-icon>
          service@gmart.com</a
        >
      </li>
    </ul>
  </div>
  <div class="at_Col3Content">
    <ul>
      <li>
        <a href="https://facebook.com/" target="blank"
          ><fa-icon style="color:#3b5998 " [icon]="fb"> </fa-icon>facebook.com
        </a>
      </li>
      <li>
        <a href="https://twitter.com/" target="blank"
          ><fa-icon style="color: #00acee;" [icon]="tw"></fa-icon>twitter.com</a
        >
      </li>
      <li>
        <a href="https://www.pinterest.com/" target="blank"
          ><fa-icon style="color:  #c8232c;" [icon]="faPinterestP"></fa-icon>
          pinttrest.com</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
