<div class="mainbody">
  <div class="wrapper">
    <p class="head">Get in Touch with us</p>
    <br />
    <span class="body">
      We are located at the heart of the <br />
      city and near to all the<br />
      transportation.Feel free to reach out<br />
      to us if you have any questions or<br />
      wanna place any orders or any other<br />
      enquires
    </span>
  </div>

  <div class="contact-us">
    <section class="header">
      <h2 class="head1">Contact Us</h2>
    </section>

    <section class="contact-form">
      <form class="form">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput required />
        </mat-form-field>
        <div>
          <p class="Enq" required>Enquiery</p>
          <input type="text" class="box" />
        </div>
      </form>
      <section class="btn">
        <button mat-raised-button color="primary">submit</button>
      </section>
    </section>
  </div>
  <div class="border">
    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)='getLocation($event)'>
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>

