.mainbody {
  background: url(src/assets/Vec2.png);
  height: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .wrapper {
    line-height: 30px;
    padding-bottom: 170px;
    .head {
      color: white;
      font-family: sans-serif;
      font-size: 38px;
      margin: 0;
    }
    .body {
      font-family: sans-serif;
      font-size: 25px;
    }
  }
  .contact-us {
    border-radius: 12px;
    width: 321px;
    background-color: white;
    height: 482px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23px;

    .header {
      padding-right: 135px;
      .head1 {
        padding: 0px;
        margin: 0px;
      }
    }
    .contact-form {
      .form {
        display: flex;
        flex-direction: column;
        padding-bottom: 75px;

        .Enq {
          opacity: 55%;
        }
        .box {
          border-radius: 12px;
          border: 1px solid rgb(177, 177, 177);
          height: 95px;
          width: 253px;
        }
      }
      .btn {
        left: 93px;
        position: relative;
        bottom: 66px;
      }
    }
  }
}

//Media Quires

@media only screen and (max-width: 400px) {
  .mainbody {
    width: 147%;
    .wrapper {
      line-height: 20px;
      padding-bottom: 320px;
      .head {
        font-size: 28px;
      }
      .body {
        font-size: 18px;
      }
    }
  }
  .contact-us {
    top: 35%;
    position: relative;
    left: 9%;
  }
}
