.mainbody {
  background: url(src/assets/Vec2.png);
  background-size: 100% 100%;
  height: auto;
  min-height: 90%;
  display: flex;
  justify-content: space-around;

  .wrapper {
    padding: 75px 100px;
    .head {
      color: white;
      font-family: sans-serif;
      font-size: 38px;
      margin: 0;
    }
    .body {
      color: black;
      font-family: sans-serif;
      font-size: 23px;
    }
  }
  .contact-us {
    width: 300px;
    height: 525px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: relative;
    top: 50px;
    border-radius: 3%;

    .header {
      .head1 {
        color: black;
        padding: 0px 45px;
      }
    }
    .contact-form {
      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//Media Quires

@media only screen and (max-width: 400px) {
  .mainbody {
    width: 160%;

    .wrapper {
      .head {
        font-size: 30px;
      }
      .body {
        font-size: 20px;
      }
    }
    .contact-us {
      margin: -8% 54%;
      width: 275px;
      height: 540px;
    }
  }
}
