<div class="mainbody">
  <div class="wrapper">
    <p class="head">Get in Touch with us</p>

    <span class="body">
      We are located at the heart of the <br />
      city and near to all the<br />
      transportation.Feel free to reach out<br />
      to us if you have any questions or<br />
      wanna place any orders or any other<br />
      enquires
    </span>
  </div>

  <div class="contact-us">
    <section class="header">
      <h2 class="head1">Contact Us</h2>
    </section>

    <section class="contact-form">
      <section novaildate>
        <form
          class="form"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(formGroup.value)"
        >
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="name" />
            <mat-error *ngIf="!name.valid && name.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="!formGroup.controls['email'].valid">
              {{ getErrorEmail() }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Phone</mat-label>
            <input matInput required formControlName="phone" />
            <mat-error
              *ngIf="
                !formGroup.controls['phone'].valid &&
                formGroup.controls['phone'].touched
              "
            >
              {{ getErrorPhone() }}
            </mat-error>
          </mat-form-field>

          <div class="footer">
            <p class="Enq" required>Enquiery</p>
            <textarea class="box" matTextareaAutosize matAutosizeMinRows="2">
              <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                required field must be 10 charaters
              </mat-error>
            </textarea>
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="btn"
              [disabled]="!formGroup.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </section>
    </section>
  </div>
</div>
<div>
  <mat-card *ngFor="let item of ex">{{ item | json }}</mat-card>
</div>

<div class="mapborder">
  <agm-map class="map" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
