.content{
    position: absolute;
width: 930px;
height: 140px;
left: 255px;
top: 323px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;

color: #FFFFFF;

border: 1px solid #28853C;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
